body {
  background: #ececec;
  display: flex;

}

.container-fluid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
}

.container {
  width: 320px;
  background-color: #fff;
  padding: 30px;
  border-radius: 20px;
  font-family: Arial, Helvetica, sans-serif;
  margin: 30px;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.12);
}

.container {
  perspective: 1200px;
}

.container {
  position: relative;
  transform-style: preserve-3d;

  transition:
    transform 0.65s cubic-bezier(0.22, 1, 0.36, 1),
    box-shadow 0.65s cubic-bezier(0.22, 1, 0.36, 1);

  will-change: transform;
}

.container:hover{
  transform:
    rotateX(7deg) rotateY(-7deg) translateY(-12px);

  box-shadow: 0 35px 65px rgba(0, 0, 0, 0.28);
}



.top {

  width: 320px;
  display: flex;
  justify-content: space-between;
  align-items: top;
}


.top-image {

  width: 40px;
  height: 40px;
  border: 2px solid #ccc;
  border-radius: 50%;
  padding: 10px;
}

.top-button {
  width: 80px;
  font-size: 16px;
  height: 35px;
  text-align: center;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: #fff;
  border: 2px solid #ccc;
  border-radius: 10px;
  color: #868686;
  cursor: pointer;
}

hr {
  margin: 70px 0 0 0;
  border: none;
  height: 1px;
  background-color: #ccc;
  opacity: 0.8;
}

.center {
  margin: 10px 0 0px 0;
}

.center-div {
  display: flex;
  gap: 10px;
}

.center-div button {
  width: 90px;
  height: 35px;
  border: none;
  border-radius: 10px;

}

.botton-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.botton-div button {
  width: 120px;
  height: 40px;
  border: none;
  border-radius: 10px;
  background: #333;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
}

.botton-first {
  font-size: 22px;
}

.botton-second {
  margin-top: -17px;
  font-size: 16px;
  color: #868686;
}